Opdracht 5/voorbeeld_2.txt
[
    {
        "id": "a53249f0.2416e8",
        "type": "ui_button",
        "z": "9252779a.58e298",
        "name": "take a photo",
        "group": "3ecf5542.b5be5a",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Take a photo",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "Lach eens naar het vogeltje..",
        "payloadType": "str",
        "topic": "",
        "x": 110,
        "y": 180,
        "wires": [
            [
                "4d096e2f.37ba",
                "6240288.c3d17d8"
            ]
        ]
    },
    {
        "id": "4d096e2f.37ba",
        "type": "camerapi-takephoto",
        "z": "9252779a.58e298",
        "filemode": "0",
        "filename": "msg.payload",
        "filedefpath": "1",
        "filepath": "",
        "fileformat": "jpeg",
        "resolution": "2",
        "rotation": "0",
        "fliph": "0",
        "flipv": "0",
        "brightness": "50",
        "contrast": "0",
        "sharpness": "0",
        "quality": "80",
        "imageeffect": "none",
        "exposuremode": "auto",
        "iso": "0",
        "agcwait": "1.0",
        "led": "0",
        "awb": "auto",
        "name": "",
        "x": 350,
        "y": 180,
        "wires": [
            [
                "d81bd11.4a3ed3"
            ]
        ]
    },
    {
        "id": "d81bd11.4a3ed3",
        "type": "visual-recognition-v3",
        "z": "9252779a.58e298",
        "name": "",
        "vr-service-endpoint": "https://gateway.watsonplatform.net/visual-recognition/api",
        "image-feature": "classifyImage",
        "lang": "en",
        "x": 590,
        "y": 180,
        "wires": [
            [
                "46b85b63.85d5f4"
            ]
        ]
    },
    {
        "id": "46b85b63.85d5f4",
        "type": "function",
        "z": "9252779a.58e298",
        "name": "",
        "func": "msg1 = {};\nmsg2= {};\nmsg1.payload = msg.payload;\nmsg2.result = msg.result;\nreturn [msg1,msg2];",
        "outputs": 2,
        "noerr": 0,
        "x": 789,
        "y": 180,
        "wires": [
            [
                "1fdfaa23.7a0c26"
            ],
            [
                "abe22288.0700c",
                "fa17bc06.31bd1"
            ]
        ]
    },
    {
        "id": "1fdfaa23.7a0c26",
        "type": "base64",
        "z": "9252779a.58e298",
        "name": "",
        "action": "str",
        "property": "payload",
        "x": 940,
        "y": 120,
        "wires": [
            [
                "4b07d001.31202"
            ]
        ]
    },
    {
        "id": "4b07d001.31202",
        "type": "template",
        "z": "9252779a.58e298",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "<img width=\"320px\" height=\"240px\" src=\"data:image/jpg;base64,{{{payload}}}\">",
        "output": "str",
        "x": 1100,
        "y": 120,
        "wires": [
            [
                "45948891.1075e8"
            ]
        ]
    },
    {
        "id": "45948891.1075e8",
        "type": "ui_template",
        "z": "9252779a.58e298",
        "group": "b73c5ad1.fdb098",
        "name": "",
        "order": 1,
        "width": "6",
        "height": "6",
        "format": "<div ng-bind-html=\"msg.payload\"></div>\n",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": false,
        "templateScope": "local",
        "x": 1240,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "abe22288.0700c",
        "type": "ui_template",
        "z": "9252779a.58e298",
        "group": "910d578e.9f5358",
        "name": "",
        "order": 1,
        "width": "2",
        "height": "4",
        "format": "\n<div ng-bind-html=\"msg.result.images[0].classifiers[0].classes[0].class\"></div>\n\n<div ng-bind-html=\"msg.result.images[0].classifiers[0].classes[1].class\"></div>\n\n<div ng-bind-html=\"msg.result.images[0].classifiers[0].classes[2].class\"></div>\n\n<div ng-bind-html=\"msg.result.images[0].classifiers[0].classes[3].class\"></div>\n\n<div ng-bind-html=\"msg.result.images[0].classifiers[0].classes[4].class\"></div>\n\n<div ng-bind-html=\"msg.result.images[0].classifiers[0].classes[5].class\"></div>\n\n\n",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": false,
        "templateScope": "local",
        "x": 1240,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "3ecf5542.b5be5a",
        "type": "ui_group",
        "z": "",
        "name": "options",
        "tab": "cc538336.a4de7",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "b73c5ad1.fdb098",
        "type": "ui_group",
        "z": "",
        "name": "photo",
        "tab": "cc538336.a4de7",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "910d578e.9f5358",
        "type": "ui_group",
        "z": "",
        "name": "outcome",
        "tab": "cc538336.a4de7",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "cc538336.a4de7",
        "type": "ui_tab",
        "z": "",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]